<div cdkDropListGroup>
  <div id="containter" class="container">
    <div class="flexContainer">
      <div  *ngFor="let w of displayComp;let i=index;" [class.selected]="w === SelectedCard" (click)="onTap(w,i)">
      <div id="card{{i}}" class="card">
        <div #header >
          <h5  #h5>
            {{w.header}}<a id="header{{i}}" class="dots" (click)="dots(i)"><i
              style="margin-left:80%; color:#B4BBC4;"
              class="fas fa-ellipsis-h"
            ></i></a>
          </h5>
          </div>
        <div>
          <div
          cdkDropList
          [cdkDropListData]="displayComp"
          (cdkDropListDropped)="drop($event)"
        
          class="card"
        >
          <div class="innerCard"  *ngFor="let g of w.cardsName;" cdkDrag>
            <span>{{g}}</span
            >
            <div >
              <br />
              <div class="priority">
                <div id="redStripe"></div>
             </div>
            </div>
          </div>
          </div>
        </div>
        <br />
        <div id="down{{i}}">
          <div CdkOverlayOrigin>
          </div>
          <div #base1>
            <button class="addTask"    
            (click)="load(i)"
            
            >
              <i class="fas fa-plus-circle"></i> Add task
            </button>
          </div>
        </div>
      </div>
      <ng-template #subMenuTemplate>
          <div class="subMenuTemplate">
            <div style="margin-top: 10px;">
            <label style="margin:10px 0px 0px 90px;"><b>Card Actions</b></label>
              <button style="color:black;margin-left:90px;"class="cross" type="submit" (click)="close()">
                  <i class="far fa-times-circle"></i>
                </button><br><hr style="width:80%;">
                &nbsp; <button class="addTask"(click)="undoFunction(i)">Undo Task? </button>  
                &nbsp;&nbsp;<button class="addTask" (click)="load1(i)">Add Task</button>
                &nbsp;&nbsp;<button class="addTask"(click)="deleteListFunction1(index)">Remove board</button>
              </div><br>
              <div>
                &nbsp;&nbsp;<label style="margin-left: 80px;"><b>Move tasks to..</b></label><hr style="width:80%;">
            <ul *ngFor="let d of displayComp;let j=index;let i=selectedCard;" (click)="moveTo(j)">
              <li>{{d.header}}</li>
            </ul> 
          </div>
          <div>
            &nbsp;&nbsp;<label style="margin-left: 80px;"><b>Copy tasks to..</b></label><hr style="width:80%;">
            <ul *ngFor="let d of displayComp;let j=index;let i=selectedCard;" (click)="copyTo(j)">
              <li>{{d.header}}</li>
            </ul>
          </div>
          </div>
        </ng-template>
    </div>          
  </div>
    

    <div #sideButtonId class="sideButton">
      <button class="addBoardButton" (click)="sideButton()">
        <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add board
      </button><br>
      <button id="binButton" #binButton style="color:white" (click)="binButtonFunction()">
          <i class="fas fa-trash"></i>
        </button>
    </div>
  </div>
</div>

<ng-template #backlogTemp 
cdkConnectedOverlay
>
<div  class="gr{{selectedCard}}">
  <form [formGroup]="nForm">
    <input
      placeholder="Enter text for the card"
      type="text"
      formControlName="in1"
    />
    <div class="over">
      <button class="cross" type="submit" (click)="close()">
        <i class="far fa-times-circle"></i>
      </button>
      <button class="addCard" [disabled]="!(this.nForm.controls.in1.valid)" (click)="add()" type="submit">Add card</button>
    </div>
  </form>
</div>
</ng-template>

<ng-template #newCardTemplate>
  <div class="newAddBoardContainer">
    <form class="addCardForm" style="background-color:#E6ECF3;border-radius:4px;" [formGroup]="nForm">
      <label>Board Name:</label>
      <input type="text" formControlName="boardName"  placeholder='Enter Board Name:'><br>
        <button class="cross" type="submit" (click)="close()">
          <i class="far fa-times-circle"></i>
        </button>
      <button class="addCard" (click)="addBoard()">Add Board</button>
    </form>
    </div>
</ng-template>

<ng-template #deleteList>
  <div class="deleteBox">
    <ul>
      <li style="cursor: pointer;" *ngFor="let v of displayComp;let i=index;" (click)="deleteListFunction(i)">
        {{v.header}}
      </li>
    </ul>
    <button class="cross" type="submit" (click)="close()">
        <i class="far fa-times-circle"></i>
      </button>
  </div>
</ng-template> 





<!-- <ng-template #newGrid>
  <div class="gridContainer">
    <div class="card">
        <div class="header">
          <h5>
            New Grid<i
              style="margin-left:80%; color:#B4BBC4;"
              class="fas fa-ellipsis-h"
            ></i>
          </h5>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="newArray"
          (cdkDropListDropped)="drop($event)"
          class="card"
        >
          <div class="innerCard" *ngFor="let p of newArray" cdkDrag>
            <span>{{ p }}</span
            ><br />
            <div>
              <br />
              <div class="priority">
                <div id="backlog"></div>
             </div>
            </div>
          </div>
        </div>
       
        <br />
        <div class="down">
          <div #base CdkOverlayOrigin>
           
          </div>
          <div>
            <button class="stickBottom"    
            (click)="load4()"
            
            >
              <i class="fas fa-plus-circle"></i> Add task
            </button>
          </div>
        </div>
      </div>
    </div>
</ng-template>
<ng-template #newAct
  cdkConnectedOverlay
>
  <div class="gr1">
    <form [formGroup]="nForm">
      <input
        placeholder="Enter text for the card"
        type="text"
        formControlName="in4"
      />
      <div class="over">
        <button class="cross" type="submit" (click)="close()">
          <i class="far fa-times-circle"></i>
        </button>
        <button class="b1" (click)="addNew()" type="submit">Add</button>
      </div>
    </form>
  </div>
  
</ng-template> 

<ng-template #currentTemp
  cdkConnectedOverlay
>
  <div class="gr">
    <form [formGroup]="nForm">
      <input
        placeholder="Enter text for the card"
        type="text"
        formControlName="in2"
      />
      <div class="over">
        <button class="cross" type="submit" (click)="close()">
          <i class="far fa-times-circle"></i>
        </button>
        <button class="b1" (click)="add1()" type="submit">Add card</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #validTemp
  cdkConnectedOverlay
>
  <div class="gr">
    <form [formGroup]="nForm">
      <input
        placeholder="Enter text for the card"
        type="text"
        formControlName="in3"
      />
      <div class="over">
        <button class="cross" type="submit" (click)="close()">
          <i class="far fa-times-circle"></i>
        </button>
        <button class="b1" (click)="add2()" type="submit">Add card</button>
      </div>
    </form>
  </div>
</ng-template>




-->
