<div class="navigation">
  <a style=" box-shadow:-1px 0px 0px 0px #F4F7FD;" href="#"
    ><i style=" size:1x;" class="fas fa-cogs"></i
  ></a> <div id="borderLine"></div>
  <a href=""><i class="fas fa-users"></i></a>
  <button id="inviteButton"><b>Invite</b></button> <div id="borderLine"></div>
  <button class="searchbutton"><i class="fas fa-search"></i></button><input class="searchbar" placeholder="Search on page"/>
  <button id="buton" style="color:white" (click)="bellButton()">
    <i class="fas fa-bell"></i>
  </button>
  <div id="borderLine"></div>
  <a href="" id="face"><i style="size:3x;" class="fas fa-user"></i></a>
</div>
